/* 公共部分 */
/* 导航栏 */
#nav {
    width: 100%;
    height: 20px;
}

#nav li {
    list-style-type: none;
}

#nav a {
    float: left;
    width: auto;
    border: 1px solid rgb(17, 17, 17);
    text-decoration: none;
}

/* 表格 */
table {
    border: none;
    border-radius: 10px;
}

table tr th {
    background-color: rgb(128, 215, 255);
    width: 130px;
    height: 30px;
    position: sticky;
    z-index: 1;
}

table tr td {
    background-color: rgb(218, 243, 255);
    width: 130px;
    height: 20px;
}

table tr th, table tr td {
    border: 1px solid rgb(212, 212, 212);
    border-radius: 7px;
    text-align: center;
}

table tr td:hover {
    background-color: rgb(128, 215, 255);
    color: white;
}

table tr th:hover {
    background-color: rgb(128, 215, 255);
}

table a {
    display: block;
    text-decoration: none;
    color: black;
    outline: none;
    text-align: center;
}

table a:hover {
    color: white;
}

/* 公共-类选择器 */
.stickyHeader {
    position: sticky;
    top: 0;
    background-color: rgb(182, 232, 255);
    font-weight: bold;
    z-index: 1;
    box-shadow: 0 1px 2px rgb(182, 232, 255);
}

/* 定义各类动画 */
@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* 各页面客制化 */
/* NyaAll页面 */
#nyaAll_top {
    width: 100%;
    height: 70px;
    background-color: rgb(255, 226, 192);
    position: fixed;
    display: flex;
    top: 0%;
    left: 0%;
    justify-content: center;
    z-index: 9999;
}

#nyaAll_topTop {
    width: 100%;
    height: 12px;
    position: fixed;
    display: inline;
    top: 0%;
    left: 0%;
    background-color: rgba(255, 185, 119, 0.5);
}

#nyaAll_top h1 {
    align-self: center;
    position: relative;
    display: block;
    text-decoration: none;
    font-weight: 400;
}

#nyaAll_top p {
    align-self: center;
    position: relative;
    display: block;
    text-decoration: none;
    font-family: "幼圆";
    font-size: 200%;
    font-weight: 100;
}

#nyaAll_top a {
    align-self: center;
    position: relative;
    display: flex;
    flex-direction: column;
    left: 10px;
    height: 40px;
    width: 100px;
    border-radius: 5px;
    background-color: rgb(192, 224, 255);
    /* 字体设置 */
    justify-content: center;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    color: rgb(17, 17, 17);
}

#nyaAll_top a:hover {
    background-color: rgb(168, 212, 255);
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

#nyaAll_topBottom {
    width: 100%;
    height: 6px;
    position: fixed;
    display: inline;
    top: 70px;
    left: 0%;
    background-color: rgba(192, 224, 255, 0.6);
}

#nyaAll_body {
    position: relative;
    top: 100px;
    width: 100%;
}

#nyaAll_songList {
    position: relative;
    float: left;
    left: 15px;
    margin-top: 10px;
    height: 500px;
    width: 38%;
}

#nyaAll_songListNav {
    position: relative;
    display: grid;
    grid-template-rows: 40% 30% 30%;
    top: 0%;
    height: 100px;
    align-items: center;
}

#nyaAll_songListSearch {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
}

#nyaAll_songListSearchInput {
    left: 10px;
    height: 100%;
    width: 100%;
    /* 形状设置 */
    background-color: rgb(231, 231, 231);
    border: none;
    border-radius: 5px;
    margin: 0;
    outline: none;
}

#nyaAll_songListSearchInput:hover {
    background-color: rgb(228, 192, 255);
    outline: rgb(217, 168, 255);
}

#nyaAll_songListSearchJump {
    display: grid;
    grid-template-columns: 40% 30% 30%;
    justify-self: center;
    align-self: center;
    width: 100%;
}

#nyaAll_songListSearchJump input {
    position: relative;
    height: 100%;
    width: auto;
    border: 1px solid rgb(228, 192, 255);
    border-radius: 8px;
    background-color: rgb(231, 231, 231);
    margin-left: 4px;
    margin-right: 4px;
}

#nyaAll_songListSearchJump input:hover {
    background-color: rgb(217, 168, 255);
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

#nyaAll_songListSort {
    position: relative;
    display: flex;
    top: 5px;
    /* 形状设置 */
    border-radius: 8px;
    background-color: rgb(228, 192, 255);

}

#nyaAll_songListSort p {
    position: relative;
    float: left;
    left: 10px;
    top: 0%;
    width: 40%;
    height: 100%;
    margin: 0%;
    /* 字体设置 */
    align-self: center;
    text-align: center;
    color: white;
    font-size: 130%;
}

#nyaAll_songListSort input {
    position: relative;
    display: flex;
    float: right;
    right: 10px;
    width: 30%;
    height: 80%;
    align-self: center;
}

#nyaAll_songListBody {
    /* 位置设置 */
    position: relative;
    float: left;
    top: 10px;
    width: 100%;
    height: 410px;
    overflow-y: scroll;
    /* 形状设置 */
    border-radius: 10px;
    background-color: rgb(231, 231, 231);
}

#nyaAll_songListBody::-webkit-scrollbar-button {
    background-color: rgb(228, 192, 255);
}

#nyaAll_songListBody input {
    position: relative;
    float: left;
    left: 2%;
    width: 96%;
    height: 25px;
    margin-top: 4px;
    margin-bottom: 4px;
}

#nyaAll_songSelect {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, 90%);
    float: right;
    right: 15px;
    justify-content: center;
    /* 形状设置 */
    height: 520px;
    width: 38%;
    background-color: rgb(231, 231, 231);
    border: none;
    border-radius: 10px;
}

.nyaAll_songSelectNav {
    position: relative;
    width: 100%;
    justify-self: center;
    border: 0%;
    border-radius: 6px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: rgb(217, 168, 255);
    /* 文本设置 */
    text-align: center;
    text-decoration: none;
    color: white;
}

.nyaAll_songSelectData {
    position: relative;
    width: 100%;
    justify-self: center;
    border: 0%;
    border-radius: 6px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: rgb(228, 192, 255);
    /* 文本设置 */
    text-align: center;
    text-decoration: none;
    color: black;
}

.nyaAll_songSelectData a {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    text-decoration: none;
    color: black;
}

/* NyaArtist页面 */
#artistMain {
    display: block;
}

#allSong {
    display: block;
    max-height: 500px;
    overflow-y: auto;
    overflow-x: auto;
}

#allSong_table {
    margin: 0;
    max-width: 100%;
}


/* NyaData界面 */
#nyaData_top {
    width: 100%;
    height: 70px;
    background-color: rgb(255, 226, 192);
    position: fixed;
    display: flex;
    top: 0%;
    left: 0%;
    justify-content: center;
}

#nyaData_topTop {
    width: 100%;
    height: 12px;
    position: fixed;
    display: inline;
    top: 0%;
    left: 0%;
    background-color: rgba(255, 185, 119, 0.5);
}

#nyaData_top h1 {
    align-self: center;
    position: relative;
    display: block;
    text-decoration: none;
    font-weight: 400;
}

#nyaData_top p {
    align-self: center;
    position: relative;
    display: block;
    text-decoration: none;
    font-family: "幼圆";
    font-size: 200%;
    font-weight: 100;
}

#nyaData_topBottom {
    width: 100%;
    height: 6px;
    position: fixed;
    display: inline;
    top: 70px;
    left: 0%;
    background-color: rgba(119, 187, 255, 0.6);
}

#nyaData_main {
    position: relative;
    width: 95%;
    top: 200px;
    left: 2.5%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.nyaData_circle {
    /* 圆形设置 */
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: rgb(231, 231, 231);
    /* 文本居中 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* a标签文本设置 */
    text-decoration: none;
    color: black;
    transition: all 0.2s ease;
}

.nyaData_circle:hover {
    background-color: rgb(192, 224, 255);
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.nyaData_circle div {
    font-size: 16px;
    color: rgb(60, 60, 60);
    margin-bottom: 8px;
}

.nyaData_circle div:first-child {
    font-size: 14px;
    color: rgb(85, 85, 85);
    margin-bottom: 8px;
}

.nyaData_circle div:last-child {
    font-size: 18px;
    font-weight: bold;
    color: rgb(17, 17, 17);
}

#nyaData_allTimes:hover {
    background-color: rgb(192, 224, 255);
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

#nyaData_todayTimes:hover {
    background-color: rgb(228, 192, 255);
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

#nyaData_years:hover {
    background-color: rgb(255, 235, 192);
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

#nyaData_abouts:hover {
    background-color: rgb(255, 192, 192);
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

#nyaData_bottom {
    background-color: rgb(228, 192, 255);
}

/* NyaDay界面 */
#nyaDay_top {
    width: 100%;
    height: 70px;
    background-color: rgb(255, 226, 192);
    position: fixed;
    display: flex;
    top: 0%;
    left: 0%;
    justify-content: center;
}

#nyaDay_topTop {
    width: 100%;
    height: 12px;
    position: fixed;
    display: inline;
    top: 0%;
    left: 0%;
    background-color: rgba(255, 185, 119, 0.5);
}

#nyaDay_top h1 {
    align-self: center;
    position: relative;
    display: block;
    text-decoration: none;
    font-weight: 400;
}

#nyaDay_top p {
    align-self: center;
    position: relative;
    display: block;
    text-decoration: none;
    font-family: "幼圆";
    font-size: 200%;
    font-weight: 100;
}

#nyaDay_top a {
    align-self: center;
    position: relative;
    display: flex;
    flex-direction: column;
    left: 10px;
    height: 40px;
    width: 100px;
    border-radius: 5px;
    background-color: rgb(228, 192, 255);
    /* 字体设置 */
    justify-content: center;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    color: rgb(17, 17, 17);
}

#nyaDay_top a:hover {
    background-color: rgb(217, 168, 255);
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

#nyaDay_topBottom {
    width: 100%;
    height: 6px;
    position: fixed;
    display: inline;
    top: 70px;
    left: 0%;
    background-color: rgba(228, 192, 255, 0.6);
}

#nyaDay_total {
    position: relative;
    float: right;
    top: 80px;
    width: 45%;
    height: 40%;
    min-height: 400px;
}

#nyaDay_days {
    float: right;
    position: relative;
    right: 5%;
    /* 形状设置 */
    width: 90%;
    max-width: 90%;
    height: 80px;
    max-height: 23%;
    border-radius: 10px;
    background-color: rgb(231, 231, 231);
    /* 文本居中 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* a标签文本设置 */
    text-decoration: none;
    color: black;
    transition: all 0.2s ease;
}

#nyaDay_days div:first-child {
    display: inline;
    font-size: 18px;
    color: rgb(85, 85, 85);
}

#nyaDay_days div:last-child {
    display: inline;
    font-size: 18px;
    font-weight: bold;
    color: rgb(17, 17, 17);
    margin-bottom: 8px;
}

#nyaDay_days:hover {
    background-color: rgb(228, 192, 255);
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}
/* 日历设置 */
.calendar {
    position: relative;
    float: right;
    top: 20px;
    right: 5%;
    width: 90%;
    height: 100%;
    min-height: 300px;
    border: none;
}

.calendarNav {
    height: 40px;
    width: 100%;
    background-color: rgb(228, 192, 255);
    border: 1.2px solid rgb(231, 231, 231);
    border-bottom: none;
    border-radius: 5px;
}

.calendarDate, .calendarButton,.calendarButton input {
    display: inline-block;
}

.calendarDate {
    text-decoration: none;
    text-align: center;
    font-size: 150%;
}

.calendarButton {
    float: right;
    align-items: center;
}

.calendarButton input {
    align-items: center;
    height: 100%;
    width: auto;
    background: rgb(231, 231, 231);
    border: none;
    border-radius: 6px;
    text-decoration: none;
    font-family: '宋体';
    font-size: 100%;
}

.calendarButton input:hover {
    background-color: rgb(228, 192, 255);
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.calendarWeeks {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background: white;
    padding: 0.5rem 0;
    border: none;
    font-weight: 600;
    color: black;
    text-align: center;
    font-size: 0.9rem;
}

.calendarWeek {
    text-align: center;
    letter-spacing: 1px;
}

.calendarDays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background: rgb(231, 231, 231);
    padding: 3px;
}

.calendarDay {
    display: grid;
    margin: 3px;
}

.calendarDay:empty {
    border: none;
}

.calendarDay a {
    display: block;
    align-items: center;
    width: 100%;
    height: 100%;
    background: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    text-align: center;
}

.calendarDay:not(.empty) a:hover {
    background-color: rgb(228, 192, 255);
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    color: white;
}

#calendarToday a {
    background-color: rgb(228, 192, 255);
}
/* 日数据表格设置 */
#nyaDay_table {
    position: relative;
    float: left;
    top: 80px;
    width: 55%;
    height: 60%;
    max-height: 400px;
    min-height: 300px;
    overflow-y: scroll;
}

#nyaDay_tableNav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    height: 30px;
    border: none;
    background-color: rgb(228, 192, 255);
    align-items: center;
}

#nyaDay_tableNav div input {
    position: relative;
    float: right;
    width: 15%;
    min-width: 60px;
    height: 90%;
    border: none;
    border-radius: 10%;
    right: 5%;
    background-color: rgb(231, 231, 231);
}

#nyaDay_tableNav div input:hover {
    background-color: rgb(228, 192, 255);
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

#nyaDay_tableBody {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.nyaDay_tableData {
    background-color: rgb(231, 231, 231);
    margin: 5px;
    border-radius: 5px;
    background-color: rgb(231, 231, 231);
    /* 文本居中 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* a标签文本设置 */
    text-decoration: none;
    color: black;
    transition: all 0.2s ease;
}

.nyaDay_tableData:hover {
    background-color: rgb(228, 192, 255);
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

/* NyaSong界面 */

/* NyaYear界面 */
#NyaYear_backHomes {
    width: 50px;
    height: 50px;
    background-color: rgb(255, 192, 192);
    color: black;
}

#NyaYear_backHomes a {
    text-decoration: none;
}

/* about界面 */