/* 公共部分 */
/* 导航栏 */
#nav ul {
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: rgb(182, 232, 255);
}

#nav li {
    float: left;
    border-right: 1px solid rgb(212, 212, 212);
}

#nav #nav_about {
    border-left: 1px solid rgb(212, 212, 212);
}

#nav li a {
    display: block;
    width: 100px;
    text-decoration: none;    
    text-align: center;
    padding: 12px 16px;
    color: black;
    font-size: 120%;
}

#nav li a:hover {
    background-color: rgb(128, 215, 255);
}

/* 表格 */
table {
    border: none;
    border-radius: 10px;
}

table tr th {
    background-color: rgb(128, 215, 255);
    width: 130px;
    height: 30px;
    position: sticky;
    z-index: 1;
}

table tr td {
    background-color: rgb(218, 243, 255);
    width: 130px;
    height: 20px;
}

table tr th, table tr td {
    border: 1px solid rgb(212, 212, 212);
    border-radius: 7px;
    text-align: center;
}

table tr td:hover {
    background-color: rgb(128, 215, 255);
    color: white;
}

table tr th:hover {
    background-color: rgb(128, 215, 255);
}

table a {
    display: block;
    text-decoration: none;
    color: black;
    outline: none;
    text-align: center;
}

table a:hover {
    color: white;
}

/* 公共-类选择器 */
.stickyHeader {
    position: sticky;
    top: 0;
    background-color: rgb(182, 232, 255);
    font-weight: bold;
    z-index: 1;
    box-shadow: 0 1px 2px rgb(182, 232, 255);
}

/* 定义各类动画 */
@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* 各页面客制化 */
/* NyaAll页面 */
#songList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: rgb(182, 232, 255);
    max-width: 350px;
    max-height: 500px;
    overflow-x: hidden;
    overflow-y: scroll;
}

#songList li {
    border-right: 1px solid rgb(212, 212, 212);
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    flex-wrap: nowrap;
    overflow: hidden;
}

#songList input {
    background-color: rgb(159, 159, 159);
    border: none;
    color: white;
    padding: 10px 14px;
    text-align: center;
    width: 100%;
    height: 30px;
    cursor: pointer;
}

#songList input:not(value-shown) {
    animation-name: scroll-left;
    animation-delay: 1s;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

#songList input:hover {
    background-color: rgb(90, 199, 249);
}

/* NyaArtist页面 */
#artistMain {
    display: block;
}

#allSong {
    display: block;
    max-height: 500px;
    overflow-y: auto;
    overflow-x: auto;
}

#allSong_table {
    margin: 0;
    max-width: 100%;
}


/* NyaData界面 */

/* NyaDay界面 */
#day {
    display: block;
}

#dayTotal_table {
    float: left;
}

#dayEach_table {
    float: left;
}

.calendar {
    float: right;
}

.calendarDate, .calendarButton {
    display: inline;
}

.calendarWeeks {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background: rgb(245, 255, 193);
    padding: 0.75rem 0;
    border-bottom: 1px solid rgb(250, 255, 225);
    font-weight: 600;
    color: black;
    text-align: center;
    font-size: 0.9rem;
}

.calendarWeek {
    text-align: center;
    letter-spacing: 1px;
}

.calendarDay {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background: rgb(250, 255, 225);
    border-bottom: 1px solid rgb(159, 159, 159);
    border-right: 1px solid rgb(159, 159, 159);
}

.calendarDay a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    margin: 30%;
    padding: 60% 60% 10% 10%;
    color: black;
    text-align: center;
}

.calendarDay:not(.empty):hover {
    background: rgb(239, 255, 157);
}

#calendarToday {
    background: rgb(239, 255, 157);
}
/* NyaSong界面 */

/* about界面 */