<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/img/main.ico">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <title>NyaAll - 所有歌曲信息页</title>
</head>
<body>
    <div id="nyaAll_top">
        <div id="nyaAll_topTop"></div>
        <h1>NyaAll</h1>
        <p>所有歌曲信息页</p>
        <a href="/">回到首页</a>
        <div id="nyaAll_topBottom"></div>
    </div>

    <!-- 所有歌曲信息 -->
    <div id="nyaAll_body">
        <div id="nyaAll_songList">
            <div id="nyaAll_songListNav">
                <div id="nyaAll_songListSearch">
                    <input type="text" id="nyaAll_songListSearchInput" placeholder="输入歌名以检索,英文不区分大小写">
                </div>
                <div id="nyaAll_songListSearchJump">
                    <input type="button" id="nyaAll_songListSearchBtn" value="搜索" onclick="songListSearch(); return false;">
                    <input type="button" class="nyaAll_songListSearchJumpBtn" value="上一个结果" onclick="songListJump(-1); return false">
                    <input type="button" class="nyaAll_songListSearchJumpBtn" value="下一个结果" onclick="songListJump(1); return false">
                </div>
                <div id="nyaAll_songListSort">
                    <p>歌曲列表</p>
                    <input type="button" value="升/降序切换" onclick="songListSort(); return false;">
                </div>
            </div>
            <div id="nyaAll_songListBody"></div>
        </div>
        <div id="nyaAll_songSelect"></div>
    </div>

    <script>
        // 获取歌曲信息,foreverLove承接,嵌套列表,时长为秒,日期格式YYYYMMDD
        let foreverSong = {{foreverLove | tojson}}; // 总信息列表,[ [0]歌曲名,[1]时长,[2]歌手,[3]总播放次数,[4]循环播放次数,[5]首次播放日期,[6]最近播放日期 ]
        let songListSortCheck = -1; // 排序参数,1正序,-1倒序
        let songListSearchArr = []; // 搜索结果,[结果个数, 索引]
        let songListJumpCheck = 0; // 跳转参数,songListSearchArr索引值,默认1

        function songListSort() {
            songListSortCheck = songListSortCheck === 1 ? -1 : 1;
            if (songListSortCheck == 1) {
                foreverSong.sort((a, b) => a[0] > b[0] ? 1 : -1);
            } else {
                foreverSong.sort((a, b) => b[0] > a[0] ? 1 : -1);
            }
            console.log("歌曲名排序完成:", foreverSong);
            songListWrite();
        }

        function songListSearch() {
            const songNameToSearch = document.getElementById("nyaAll_songListSearchInput").value.toLowerCase();
            songListSearchArr = [0]; // 检索判断,无结果返回 [0] ,有结果则返回 [结果个数, 索引]
            console.log(`预检索歌曲名:${songNameToSearch}`);
            for (let i = 0; i < foreverSong.length; i++) {
                let tempSongName = foreverSong[i][0].toLowerCase();
                if (tempSongName.includes(songNameToSearch) == true) {
                    songListSearchArr[0] = songListSearchArr[0] += 1;
                    songListSearchArr.push(i);
                }
            }
            console.log("查询结果数及索引为:", songListSearchArr);
            if (songListSearchArr.length > 1) {
                songListJumpCheck = 0;
                alert(`检索到${songListSearchArr[0]}个结果,将跳转至第一个结果`);
                songListJump(1);
            } else {
                alert("检索无结果!");
            }
        }

        function songListJump(jumpCheck) {
            // jumpCheck -1向前跳转,1向后跳转
            let jumpIndex;
            if (jumpCheck == 1) {
                console.log("搜索结果执行向前跳转");
                songListJumpCheck += 1;
                if (songListJumpCheck == songListSearchArr.length) {
                    songListJumpCheck -= 1;
                    alert("已跳转至最后一项,无法再向后跳转!");
                }
                jumpIndex = songListSearchArr[songListJumpCheck];
            } else {
                console.log("搜索结果执行向后跳转");
                songListJumpCheck -= 1;
                if (songListJumpCheck == 0) {
                    songListJumpCheck += 1;
                    alert("已跳转至第一项,无法再向前跳转!");
                }
                jumpIndex = songListSearchArr[songListJumpCheck];
            }
            if (songListSearchArr.length == 1) {
                alert("还没有检索结果呢~无法跳转喵!");
                console.log("无检索结果,跳转失败");
                return;
            }
            console.log(`将跳转第${songListJumpCheck}位结果,对应原歌曲列表索引${jumpIndex}`);
            let jumpToElement = document.getElementById(`nyaAll_songListBodyInput${jumpIndex}`);
            jumpToElement.scrollIntoView({behavior: 'smooth', block: 'start'});
        }

        function songListWrite() {
            const div = document.getElementById("nyaAll_songListBody");
            while (div.hasChildNodes()) {
                div.removeChild(div.firstChild);
            }
            for (let i = 0; i < foreverSong.length; i++) {
                let newElement = document.createElement("input");
                newElement.className = "nyaAll_songListBodyInput";
                newElement.id = `nyaAll_songListBodyInput${i}`;
                newElement.type = "button";
                newElement.value = foreverSong[i][0];
                newElement.addEventListener('click', function() {
                    selectSongWrite(i);
                    return false;
                });
                div.appendChild(newElement);
            }
            console.log("歌曲列表写入完成");
        }

        function selectSongWrite(arrayIndex) {
            // 数据格式 [0]歌曲名,[1]时长,[2]歌手,[3]总播放次数,[4]循环播放次数,[5]首次播放日期,[6]最近播放日期
            // 多歌手用 ; 分割
            let array = foreverSong[arrayIndex];
            console.log("预写入单曲数据数组:", array);
            let navArray = ["歌曲名", "播放时长", "歌手", "总播放次数", "循环播放次数", "首次播放日", "最近播放日期"];
            let div = document.getElementById("nyaAll_songSelect");
            while (div.hasChildNodes()) {
                div.removeChild(div.firstChild);
            }
            for (let i = 0; i <= 6; i++) {               
                let newDiv = document.createElement("div");
                newDiv.className = "nyaAll_songSelectNav";
                newDiv.innerText = navArray[i];
                div.appendChild(newDiv);

                newDiv = document.createElement("div");
                newDiv.className = "nyaAll_songSelectData";

                let finalWrite = "";
                if (i == 0) {
                    newDiv = document.createElement("a");
                    newDiv.className = "nyaAll_songSelectData";
                    newDiv.href = `/song?songname=${array[0]}`;
                    finalWrite = array[0];
                    newDiv.innerHTML = finalWrite;
                    div.appendChild(newDiv);
                } else if (i == 1) {
                    finalWrite = timeFormat(array[1]);
                    newDiv.innerHTML = finalWrite;
                    div.appendChild(newDiv);
                } else if (i == 2) {
                    let tempArtistArray;
                    if (array[2].includes(";") == true) {
                        tempArtistArray = array[2].split(";");
                    } else if (array[2].includes("/") == true) {
                        tempArtistArray = array[2].split("/");
                    } else if (array[2].includes("\\") == true) {
                        tempArtistArray = array[2].split("\\");
                    } else {
                        tempArtistArray = [array[2]];
                    }
                    console.log("单曲信息[2]歌手信息分割完成,结果:", tempArtistArray);
                    if (tempArtistArray.length == 1) {
                        newDiv = document.createElement("a");
                        newDiv.className = "nyaAll_songSelectData";
                        newDiv.href = `/artist?artist=${tempArtistArray[0]}`;
                        finalWrite = tempArtistArray[0];
                        newDiv.innerHTML = finalWrite;
                        div.appendChild(newDiv);
                    } else {
                        for (let i1 = 0; i1 < tempArtistArray.length; i1++) {
                            newDiv = document.createElement("a");
                            newDiv.className = "nyaAll_songSelectData";
                            newDiv.href = `/artist?artist=${tempArtistArray[i1]}`;
                            finalWrite = tempArtistArray[i1];
                            newDiv.innerHTML = finalWrite;
                            div.appendChild(newDiv);
                        }
                    }
                } else if (i == 3 || i == 4) {
                    finalWrite = `${array[i]}次`;
                    newDiv.innerHTML = finalWrite;
                    div.appendChild(newDiv);
                } else {
                    finalWrite = dateFormat(array[i]);
                    newDiv = document.createElement("a");
                    newDiv.className = "nyaAll_songSelectData";
                    newDiv.href = `/day?day=${array[i]}`;
                    newDiv.innerHTML = finalWrite;
                    div.appendChild(newDiv);
                }
                
            }
            console.log(`选择歌曲${array[0]}信息写入完成`);
        }

        function timeFormat(timeUnFormat) {
            // 传入时间秒
            let timeToFormat;
            console.log(`预格式化时长:${timeUnFormat}`);
            let timeFormat_hor = (timeUnFormat - timeUnFormat % 3600) / 3600;
            let timeFormat_min = (timeUnFormat % 3600 - timeUnFormat % 3600 % 60) / 60;
            let timeFormat_sec = timeUnFormat % 3600 - timeFormat_min * 60;
            if (timeFormat_hor > 0) {
                timeToFormat = `${parseInt(timeFormat_hor)}时${parseInt(timeFormat_min)}分${parseInt(timeFormat_sec)}秒`;
            } else if (timeFormat_min > 0) {
                timeToFormat = `${parseInt(timeFormat_min)}分${parseInt(timeFormat_sec)}秒`;
            } else if (timeFormat_sec > 0) {
                timeToFormat = `${parseInt(timeFormat_sec)}秒`;
            } else {
                timeToFormat = `有点弱...再多听一会儿吧`;
            }
            console.log(`格式化时长完成:${timeToFormat}`);
            return timeToFormat;
        }

        function dateFormat(dateUnFormat) {
            // 传入日期YYYYMMDD
            let dateToFormat = `${dateUnFormat.substring(0,4)}年`;
            console.log(`预格式化日期:${dateUnFormat}`);
            if (dateToFormat.substring(4) == 0) {
                dateToFormat += `${dateUnFormat.substring(5,6)}月`;
            } else {
                dateToFormat += `${dateUnFormat.substring(4,6)}月`;
            }
            if (dateUnFormat.substring(6) == 0) {
                dateToFormat += `${dateUnFormat.substring(7,8)}日`;
            } else {
                dateToFormat += `${dateUnFormat.substring(6,8)}日`;
            }
            console.log(`格式化日期完成:${dateToFormat}`);
            return dateToFormat;
        }

        window.addEventListener("DOMContentLoaded", function() {
            const songListSearchElement = document.getElementById("nyaAll_songListSearchInput");
            songListSearchElement.addEventListener("keydown", (songListSearchKey) => {
                if (songListSearchKey.key === "Enter") {
                    console.log("检测到搜索框按下回车");
                    songListSearch();
                }
            })
            songListSort();
        });
    </script>
</body>
</html>