<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/img/main.ico">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <title>NyaDay - 每日数据页</title>
</head>
<body>
    <!-- 导航栏部分,所有数据在同一页面内 -->
    <div id="nyaDay_top">
        <div id="nyaDay_topTop"></div>
        <h1>NyaDay</h1>
        <p>每日数据页</p>
        <a href="/">回到首页</a>
        <div id="nyaDay_topBottom"></div>
    </div>

    <!-- 单日歌曲信息表格 -->
    <div id="nyaDay_table">
        <div id="nyaDay_tableNav">
            <div>歌曲名<input type="submit" id="nyaDay_nameSort_btn" onclick="nameSort(); return false;"></div>
            <div>完播次数<input type="submit" id="nyaDay_integerSort_btn" onclick="integerSort(); return false;"></div>
            <div>单曲循环次数<input type="submit" id="nyaDay_roundSort_btn" onclick="roundSort(); return false"></div>
        </div>
        <div id="nyaDay_tableBody"></div>
    </div>

    <!-- 选中日数据表格 -->
    <div id="nyaDay_total">
        <div id="nyaDay_days">
            <div id="nyaDay_date"></div>
            <div id="nyaDay_day"></div>
        </div>

        <!-- 日历,跳转至选中日期的数据 -->
        <div class="calendar">
            <!-- 动态生成日历表格表头 -->
            <div class="calendarNav">
                <div class="calendarDate" id="calendarDate"></div>
                <div class="calendarButton">
                    <input id="calendarBtn_former" type="button" value="上一月" onclick="calendarFormer(); return false;">
                    <input id="calendarBtn_today" type="button" value="本日">
                    <input id="calendarBtn_later" type="button" value="下一月" onclick="calendarLater(); return false;">
                </div>
            </div>
            <!-- 固定值星期行 -->
            <div class="calendarWeeks">
                <div class="calendarWeek">日</div>
                <div class="calendarWeek">一</div>
                <div class="calendarWeek">二</div>
                <div class="calendarWeek">三</div>
                <div class="calendarWeek">四</div>
                <div class="calendarWeek">五</div>
                <div class="calendarWeek">六</div>
            </div>
            <!-- 动态生成日期表 -->
            <div id="calendarDays" class="calendarDays"></div>
        </div>
    </div>

    <!-- 脚本设置 -->
    <script>
        let dayTotal = {{day_total | tojson}}; // int或null,精确到分
        const dayEach = {{day_each | tojson}}; // dic或null,传递为完播歌曲{name:[完播次数,单曲循环次数]}
        //let dayTotal = 50000;
        //const dayEach = {"gura":[15,12], "saba":[11,1], "neuro":[2,0], "wanxing":[50,42], "ruama":[10,6], "starfish":[10,7]}
        console.log("初始数据:", dayTotal, dayEach);
        let nameSortCheck = -1; // 歌曲名排序参数
        let integerSortCheck = -1; // 完播次数排序参数
        let roundSortCheck = -1; // 单曲循环次数排序参数
        let nameArr;
        let dayEachArr = []; // 预排序嵌套列表,[歌曲名,完播次数,单曲循环次数]
        for (let key in dayEach) {
            let temp_dayEachArr = dayEach[key];
            temp_dayEachArr = [key, temp_dayEachArr[0], temp_dayEachArr[1]];
            dayEachArr.push(temp_dayEachArr);
        }
        let dateArr = [new Date().getFullYear(), new Date().getMonth()+1];
        console.log(`待定日期:${dateArr[0]}年${dateArr[1]}月`);
        calendar(`${dateArr[0]}-${dateArr[1]}`);
    
        function nyaDay_dayWrite() {
            let div = document.getElementById("nyaDay_day");
            div.innerHTML = `今天听歌时长为：${dayTotal}`;
            div = document.getElementById("nyaDay_date");
            let today = (new URLSearchParams(window.location.search)).get("day");
            console.log(`nyaDay_day写入,今天是:${today}`);
            if (today[4] == 0) {
                if (today[6] == 0) {
                    today = `${today.substring(0,4)}年${today[5]}月${today[7]}日`;
                } else {
                    today = `${today.substring(0,4)}年${today[5]}月${today.substring(6,8)}日`;
                }
            } else {
                if (today[6] == 0) {
                    today = `${today.substring(0,4)}年${today.substring(4,6)}月${today[7]}日`;
                } else {
                    today = `${today.substring(0,4)}年${today.substring(4,6)}月${today.substring(6,8)}日`;
                }
            }
            div.innerHTML = today;
        }

        function nyaDay_tableWrite() {
            const div = document.getElementById("nyaDay_tableBody");
            while (div.hasChildNodes()) {
                div.removeChild(div.firstChild);
            }
            for (let i = 0; i < dayEachArr.length; i++) {
                let newDiv = document.createElement("a");
                newDiv.className = "nyaDay_tableData";
                newDiv.href = `/song?songname=${dayEachArr[i][0]}`;
                newDiv.innerHTML = `${dayEachArr[i][0]}`;
                div.appendChild(newDiv);

                newDiv = document.createElement("div");
                newDiv.className = "nyaDay_tableData";
                newDiv.innerHTML = dayEachArr[i][1];
                div.appendChild(newDiv);

                newDiv = document.createElement("div");
                newDiv.className = "nyaDay_tableData";
                newDiv.innerHTML = dayEachArr[i][2];
                div.appendChild(newDiv);
            }
            console.log("nyaDay_tableBody写入完成");
        }

        // 格式化播放时长
        function timeFormat() {
            console.log(`预格式化日期:${dayTotal}`);
            let songData_hor = (dayTotal - dayTotal % 3600) / 3600;
            let songData_min = (dayTotal % 3600 - dayTotal % 3600 % 60) / 60;
            let songData_sec = dayTotal % 3600 - songData_min * 60;
            if (songData_hor > 0) {
                dayTotal = `${parseInt(songData_hor)}时${parseInt(songData_min)}分${parseInt(songData_sec)}秒`;
            } else if (songData_min > 0) {
                dayTotal = `${parseInt(songData_min)}分${parseInt(songData_sec)}秒`;
            } else if (songData_sec > 0) {
                dayTotal = `${parseInt(songData_sec)}秒`;
            } else {
                dayTotal = `有点弱...再多听一会儿吧`;
            }
            console.log(`格式化日期完成:${dayTotal}`);
            return dayTotal;
        }

        // 按歌曲名排序,1正序,-1倒序
        function nameSort() {
            let button = document.getElementById("nyaDay_nameSort_btn");
            nameSortCheck = nameSortCheck === 1 ? -1 : 1;
            if (nameSortCheck == 1) {
                dayEachArr.sort((a, b) => a[0] > b[0] ? 1 : -1);
                button.value = "升序";
            } else {
                dayEachArr.sort((a, b) => a[0] < b[0] ? 1 : -1);
                button.value = "倒序";
            }
            console.log("按歌曲名排序完成", dayEachArr);
            nyaDay_tableWrite();
        }

        // 按播放次数排序,1正序,-1倒序,相同时按歌曲名正序
        function integerSort() {
            let button = document.getElementById("nyaDay_integerSort_btn");
            integerSortCheck = integerSortCheck === 1 ? -1 : 1;
            if (integerSortCheck == 1) {
                dayEachArr.sort((a, b) => {
                    if (a[1] != b[1]) return a[1] - b[1];
                    return a[0].localeCompare(b[0]);
                });
                button.value = "倒序";
            } else {
                dayEachArr.sort((a, b) => {
                    if (a[1] != b[1]) return b[1] - a[1];
                    return a[0].localeCompare(b[0]);
                });
                button.value = "升序";
            }
            console.log("按播放次数排序完成", dayEachArr);
            nyaDay_tableWrite();
        }

        // 按循环播放次数排序,1正序,-1倒序,相同时按歌曲名正序
        function roundSort() {
            let button = document.getElementById("nyaDay_roundSort_btn");
            roundSortCheck = roundSortCheck === 1 ? -1 : 1;
            if (roundSortCheck == 1) {
                dayEachArr.sort((a, b) => {
                    if (a[2] != b[2]) return a[2] - b[2];
                    return a[0].localeCompare(b[0]);
                });
                button.value = "倒序";
            } else {
                dayEachArr.sort((a, b) => {
                    if (a[2] != b[2]) return b[2] - a[2];
                    return a[0].localeCompare(b[0]);
                });
                button.value = "升序";
            }
            console.log("按循环次数排序完成", dayEachArr);
            nyaDay_tableWrite();
        }

        // 动态写入日期表格 className = calendarWeek/s/Day,传入"YYYY-MM"
        // 默认为当天,从urlWrite()传入
        function calendar(selectDate) {
            let selectToday = new Date();
            let displayDate = new Date(selectDate);
            let displayYear = displayDate.getFullYear();
            let displayMonth = displayDate.getMonth() + 1;
            let displayFirstWeek = displayDate.getDay();
            let displayDayArr = new Array(42).fill(null);
            let arrDay = 1;
            // 先删除旧日历,后写入
            let div_calendarDay = document.getElementById("calendarDays");
            let div_calendarDate = document.getElementById("calendarDate");
            while (div_calendarDay.hasChildNodes()) {
                div_calendarDay.removeChild(div_calendarDay.firstChild);
            }
            div_calendarDate.innerText = `${displayYear}年${displayMonth}月`;
            for (let i = displayFirstWeek; i < 42; i++) {
                // 判断大小月
                if ((displayMonth == 1 || displayMonth == 3 || displayMonth == 5 || displayMonth == 7 || displayMonth == 8 || displayMonth == 10 || displayMonth == 12 ) && (arrDay == 32)) {
                    break;
                } else if (displayMonth == 2) {
                    // 判断闰年
                    if ((displayYear % 4 == 0 && displayYear % 100 != 0) || displayYear % 400 == 0) {
                        if (arrDay == 30) {
                            break;
                        } else {
                            displayDayArr[i] = arrDay;
                            arrDay += 1;
                        }
                    } else if (arrDay == 29) {
                        break;
                    } else {
                        displayDayArr[i] = arrDay;
                        arrDay += 1;
                    }
                } else if ((displayMonth == 4 || displayMonth == 6 || displayMonth == 9 || displayMonth == 11) && arrDay == 31) {
                    break;
                } else {
                    displayDayArr[i] = arrDay;
                    arrDay += 1;
                }
            }
            console.log(`日历写入:${displayDate},${displayYear}年,${displayMonth}月,首日为星期${displayFirstWeek};日期表格:`, displayDayArr);
            // 开始写入指定年月
            for (let i = 0 ; i < 42; i++) {
                let newDay = document.createElement("div");
                newDay.className = "calendarDay";
                if (displayYear == selectToday.getFullYear() && displayMonth == selectToday.getMonth()+1 && displayDayArr[i] == selectToday.getDate()) {
                    newDay.id = "calendarToday";
                }
                if (displayDayArr[i] != null) {
                    let calendarWrite = `<a href="/day?day=${displayYear}`;
                    if (displayMonth + 1 < 10) {
                        calendarWrite += `0${displayMonth}`;
                    } else {
                        calendarWrite += `${displayMonth}`;
                    }
                    if (displayDayArr[i] < 10) {
                        calendarWrite += `0${displayDayArr[i]}">${displayDayArr[i]}</a>`;
                    } else {
                        calendarWrite += `${displayDayArr[i]}">${displayDayArr[i]}</a>`;
                    }
                    newDay.innerHTML = calendarWrite;
                } else if (i >= 28 && i % 7 == 0) {
                    break;
                }
                div_calendarDay.appendChild(newDay);
            }
            console.log(`${displayYear}年${displayMonth}月日历写入完成`);
        }

        // 日历上一月按钮 [YYYY,MM(1-9为单数字)]
        function calendarFormer() {
            dateArr[1] = dateArr[1]-1;
            if (dateArr[1] == 0) {
                dateArr[1] = 12;
                dateArr[0] = dateArr[0]-1;
            }
            console.log(`上一月按钮执行成功:${dateArr[0]}年${dateArr[1]}月`);
            if (dateArr < 10) {
                calendar(`${dateArr[0]}-0${dateArr[1]}`);
            } else {
                calendar(`${dateArr[0]}-${dateArr[1]}`);
            }
        }

        // 日历下一月按钮 [YYYY,MM(1-9为单数字)]
        function calendarLater() {
            dateArr[1] = dateArr[1]+1;
            if (dateArr[1] == 12) {
                dateArr[1] = 1;
                dateArr[0] = dateArr[0]+1;
            }
            console.log(`上一月按钮执行成功:${dateArr[0]}年${dateArr[1]}月`);
            if (dateArr < 10) {
                calendar(`${dateArr[0]}-0${dateArr[1]}`);
            } else {
                calendar(`${dateArr[0]}-${dateArr[1]}`);
            }
        }

        // 日历本日按钮 [YYYY,MM,DD]
        function calendarToday() {
            let today = new Date();
            let year = today.getFullYear();
            let month = today.getMonth();
            let day = today.getDay();
            if (month < 10) {
                calendar(`${year}-0${month}`);
            } else {
                calendar(`${year}-${month}`);
            }
            
        }

        // DOM加载后,分割列表并执行对应函数
        window.addEventListener("DOMContentLoaded", function() {
            dayTotal = timeFormat();
            nyaDay_dayWrite();
            document.getElementById("nyaDay_integerSort_btn").value = "升序";
            document.getElementById("nyaDay_roundSort_btn").value = "升序";
            nameSort();
        });
    </script>
</body>
</html>