<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/img/main.ico">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <title>NyaData - 播放数据展示</title>
</head>
<body>
    <div id="nyaData_top">
        <div id="nyaData_topTop"></div>
        <h1>NyaData</h1>
        <p>欢迎您</p>
        <div id="nyaData_topBottom"></div>
    </div>

    <div id="nyaData_main">
        <a class="nyaData_circle" id="nyaData_allTimes" href="/AllSong">
            <div>要看看一共听了什么歌吗?</div>
            <div>一共听歌:</div>
            <div id="nyaData_allTime"></div>
        </a>
        <a class="nyaData_circle" id="nyaData_todayTimes" href="/day?day=">
            <div>今天听了什么?</div>
            <div id="nyaData_todayTime"></div>
        </a>
        <a class="nyaData_circle" id="nyaData_years" href="/year?year=">
            <div>音乐可以陶冶情操~</div>
            <div>来看看今年的数据吧</div>
        </a>
        <a class="nyaData_circle" id="nyaData_abouts" href="/about">
            <div>谢谢你</div>
            <div>献给最爱的你</div>
        </a>
    </div>

    <div id="nyaData_bottom"></div>

    <!-- 脚本设置 -->
    <script>
        // 数据格式 allData->all_data=[全时间播放时长,系统时间当日播放总时长,当日听歌曲目数], 时间单位秒
        // const allData = {{all_data|tojson}};
        const allData = [1460000, 640, 7] // 测试数据

        // 格式化时间
        function timeFormat(time) {
            let songData_hor = (time - time % 3600) / 3600;
            let songData_min = (time % 3600 - time % 3600 % 60) / 60;
            let songData_sec = time % 3600 - songData_min * 60;
            if (songData_hor > 0) {
                time = `${parseInt(songData_hor)}时${parseInt(songData_min)}分${parseInt(songData_sec)}秒`;
            } else if (songData_min > 0) {
                time = `${parseInt(songData_min)}分${parseInt(songData_sec)}秒`;
            } else if (songData_sec > 0) {
                time = `${parseInt(songData_sec)}秒`;
            } else {
                time = `有点弱...再多听一会儿吧`;
            }
            return time;
        }

        function divWrite(todayDate) {
            const allTimeDiv = document.getElementById("nyaData_allTime");
            allTimeDiv.innerHTML = timeFormat(allData[0]);
            const todayTimeDiv = document.getElementById("nyaData_todayTime");
            todayTimeDiv.innerHTML = `${timeFormat(allData[1])}, ${allData[2]}首`;
            const todayCircle = document.getElementById("nyaData_todayTimes");
            todayCircle.setAttribute("href", `/day?day=${todayDate}`);
            const yearHref = document.getElementById("nyaData_years");
            yearHref.setAttribute("href", `/year?year=${todayDate.substring(0,4)}`);
        }

        // 获取当日日期并格式化YYYYMMDD,写入url
        function urlWrite() {
            const date = new Date();
            console.log(date);
            let nowDate = date.getFullYear();
            if (date.getMonth() + 1 <= 10) {
                nowDate += `0${date.getMonth() + 1}`;
            } else {
                nowDate += `${date.getMonth() + 1}`;
            };
            if (date.getDate() + 1 <= 10) {
                nowDate += `0${date.getDate()}`;
            } else {
                nowDate += `${date.getDate()}`;
            };
            console.log(`格式化完成,今天是${nowDate.substring(0,4)}年${nowDate.substring(4,6)}月${nowDate.substring(6,8)}日`);
            if (location.search !== `?day=${nowDate}`) {
                location.search = `?day=${nowDate}`;
            }
            return nowDate;
        };

        // DOM加载后调用
        window.addEventListener("DOMContentLoaded", function() {
            let todayDate = urlWrite();
            divWrite(todayDate);
        });
    </script>
</body>
</html>